<h1>Edit </h1>
<form method="POST" action="/infinity_stones/<%= @infinity_stone.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="stone_name">Stone Name:</label>
      <input type="text" name="stone_name" id="stone_name" value="<%= @infinity_stone.stone_name %>"/>
    </div>

    <div class="form-el">
      <label for="description">Description:</label>
      <input type="text" name="description" id="description" value="<%= @infinity_stone.description %>"/>
    </div>

    <div class="form-el">
      <label for="quantity">Quantity:</label>
      <input type="number" name="quantity" id="quantity" value="<%= @infinity_stone.quantity %>"/>
    </div>

    <div class="form-el">
      <label for="buy_cost">Buy Cost:</label>
      <input type="number" name="buy_cost" id="buy_cost" value="<%= @infinity_stone.buy_cost %>"/>
    </div>

    <div class="form-el">
      <label for="sell_price">Sell Price:</label>
      <input type="number" name="sell_price" id="sell_price" value="<%= @infinity_stone.sell_price %>"/>
    </div>

    <div class="form-el">
      <label for="manufacturer_select">Select Manufacturer:</label>
      <select name="manufacturer_id" id="manufacturer_select">
        <% @manufacturers.each do |manufacturer| %>
        <% if manufacturer.id == @infinity_stone.manufacturer_id %>
            <option value=<%= manufacturer.id %>selected><%= manufacturer.name %></option>
            <% else %>
            <option value=<%= manufacturer.id %>><%= manufacturer.name %></option>
            <% end %>
        <% end %>
      </select>
    </div>

    <div class="form-el">
      <input type="submit" value="Update Infinity Stone"/>
    </div>

  </div>
</form>
