<h1>List of Infinty Stones</h1>

<% for infinity_stone in @infinity_stones %>
  <p>ID: <%= infinity_stone.id %></p>
  <p> Stone: <%= infinity_stone.stone_name %></p>
  <p> Description: <%= infinity_stone.description %></p>
  <p> Manufacturer: <%= infinity_stone.manufacturer.first.manufacturer_name %></p>
  <p> <a href= "/infinity_stones/<%= infinity_stone.id() %>">Infinity Stone info</a></p>

  <hr>

<% end %>
